*{
    margin: 0;
    padding: 0;;
}
body {
    background-color: rgb(13, 18, 61);
    display: flex;
    place-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 100px;
    gap: 10px;
    /*grid-template-areas: 
    'a a a a b b' 
    'c c c d d d'
    'c c c e e e'
    ;*/
    margin: 80px;
    width: 50%;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    text-align: center;
    border-radius: 2px; 
}
#green_container {
    grid-area: 3 / 1 / span 2 / span 3;
    background-color: rgb(30, 197, 94);
  }
  #first_blue_container {
    grid-area: 3 / 4 / span 1 / span 3;
    background-color: rgb(66, 191, 230);
  }
  #second_blue_container{
    grid-area: 4 / 4 / span 1 / span 3;
    background-color: rgb(66, 191, 230);
  }
  #red_container {
    grid-area: 1 / 1 / span 2 / span 4;
    background-color: rgb(245, 75, 8);
  }
  #yellow_container {
    grid-area: 1 / 5 / span 2 / span 2;
    background-color: rgb(245, 190, 9);
  }

/* #red_container {
    background-color: rgb(245, 75, 8);
    grid-area: a;
}
#yellow_container {
    background-color: rgb(245, 190, 9);
    grid-area: b;
}
#green_container {
    background-color: rgb(30, 197, 94);
    grid-area: c;
}
#first_blue_container {
    background-color: rgb(66, 191, 230);
    grid-area: d;
}
#second_blue_container {
    background-color: rgb(66, 191, 230);
    grid-area: e;
} */